@using VendorOrderTracker.Models; 
@{
  Layout = "_Layout";
}

<h3>VENDORS</h3>

@if (Model.Count == 0)
{
  <p>No Vendors Yet!</p>
}

@foreach (Vendor vendor in Model)
{
  <h5> <a href='/vendors/@vendor.Id'>@vendor.Name</a></h5>
  <br>
}
