@{
  Layout = "_Layout";
}

<form action="/vendors" method="post">
  <label for="vendorName"></label>
  <input id="vendorName" name="vendorName" placeholder="Vendor Name" type="text">
  <br>
  <br>
  <label for="vendorDescription"></label>
  <input id="vendorDescription" name="vendorDescription" placeholder="Description" type="text">
  <br>
  <br>
  <label for="vendorLocation"></label>
  <input id="vendorLocation" name="vendorLocation" placeholder="Location" type="text">
  <br>
  <br>
  <button type="submit">ADD VENDOR</button>
</form>

