@{
  Layout = "_Layout";
}
@using VendorOrderTracker.Models; 

<div class="jumbotron center">
  <h1 class="text-center">All Current Orders for this Vendor</h1>
  <p class="lead">
    @if(@Model["orders"].Count == 0)
    {
    <p>No Current Orders for this vendor!</p>
    }
  </p>
  <hr class="my-4">
  <ol>
    @foreach (Order order in @Model["orders"])
    {
      <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
    }
  </ol>
  <a class="btn btn-dark btn-sm center" href='/vendors/@Model["vendor"].Id/orders/new' role="button">Add New Order</a>
</div>