@{
  Layout = "_Layout";
}

<div class="jumbotron center">
  <h1 class="display-4 text-center">Pierre's Vendor Management</h1>
  <p class="lead">Manage Your Vendors and Orders in one Place!</p>
  <hr class="my-4">
  <p class="lead text-center">
    <a class="btn btn-dark btn-lg" href='/vendors/new' role="button">Add A New Vendor</a>
  </p>
</div>

