@{
  Layout = "_Layout";
}

<h1 class="text-center">Pierre's Bakery Vendor Management</h1>
<h4 class="text-center"><a href='/vendors'>View Vendors</a></h4>
<h4 class="text-center"><a href='/vendors/new'>Add A New Vendor</a></h4>
