@{
  Layout = "_Layout";
}
<h5>Add A New Order</h5>
<p><strong>Vendor: </strong>@Model.Name</p>

<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="nameId" type="hidden" value="@Model.Id">
  <label for="orderTitle"></label>
  <input id="orderTitle" name="orderTitle" placeholder="Order Title" type="text">
  <br>
  <br>
  <label for="orderDescription"></label>
  <input id="orderDescription" name="orderDescription" placeholder="Description" type="text">
  <br>
  <br>
  <label for="orderPrice"></label>
  <input id="orderPrice" name="orderPrice" placeholder="OrderPrice e.g. 0.00" type="text">
  <br>
  <br>
  <label for="orderDate"></label>
  <input id="orderDate" name="orderDate" placeholder="Date of Order" type="text">
  <br>
  <br>
  <button type='submit'>Add Order</button>
</form>